@use '../utils/mixins.scss' as *;
@use '../shared/description.scss' as *;

.navigation {
	@extend %fix-top;

	display: flex;
	justify-content: space-between;
	align-items: end;
	padding: 14px 20px;

	z-index: 8;

	&__menu__toggle {
		@extend %description-20;
	}
}
