// about
.article {
	position: fixed;
	top: 0;
	left: 0;
	padding-inline: 20px;
	padding-block: 50px 20px;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	min-height: -webkit-fill-available;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	&--active {
		visibility: visible;
		opacity: 1;
	}
}
