@use '../utils/variables.scss' as *;

%description-20 {
	font-family: $helvetica-neue;
	font-size: 2rem;

	// @include media('<phone') {
	// 	font-size: 3rem;
	// }
}

%description-30 {
	font-family: $helvetica-neue;
	font-size: 3rem;
}
