@use '../utils/variables.scss' as *;

.cursor__inner,
.cursor__outer {
	position: fixed;
	border-radius: 50%;
	z-index: 10;
	mix-blend-mode: difference;
}

.cursor__inner {
	background-color: $white-flight;
	width: 9px;
	height: 9px;
}

.cursor__outer {
	border: 1px solid $white-flight;
	width: 50px;
	height: 50px;
}
