@use '../utils/utils.scss' as *;

@font-face {
	font-family: $helvetica-neue;
	src: url('../static/fonts/HelveticaNeue-Light.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
