
.article
	.article__title
		h1 People Are The<br>Ultimate Spectacle
	.article__paragraph
		p.article__paragraph__text If the world moves on,<br>will the lights stay on
	.article__content
		.article__right__section
			.article__main__description
				figure.article__media
					.article__image__wrapper
						a.article__image__link
							img.article__image(src="images/matias-jacobi-lrNOAvCW5Qo-unsplash.jpg", alt="unsplash image")
		.article__description__aside
			.article__cite
				h3.article__cite__text There are still many dreams that may<br>be interesting and related to<br>other aspects. It also talks about emotions,<br>what you should change and overcome<br>for the better.
			.description__aside__footer
				figure.article__media
					.article__image__wrapper
						a.article__image__link
							img.article__image(src="images/xander-ashwell-bhTjAUHHvSg-unsplash.jpg", alt="unsplash image")
				.article__paragraph
					p.article__paragraph__text There are lots of different ways<br>to describe people’s personalities.
