extends ../index.pug

block variables
	- var template = 'home'

block content
	.home
		.home__articles__wrapper
			.home__article__section
				figure.home__article__media
					img(src="images/matias-jacobi-lrNOAvCW5Qo-unsplash.jpg", alt="unsplash image")

				.home__article__description
					.home__article__description__item
						h1.home__article__title
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Dream Clouds
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Ghost Ground
						.home__article__description__right
							.home__article__media__number.clip__text
								.home__article__media__number__text 18
							.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									Connect artists to&shy;
									nature spaces

					.home__article__description__item
						.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									If the world moves on,&shy;
									will the lights stay on

			.home__article__section
				figure.home__article__media
					img(src="images/matt-collamer-8UG90AYPDW4-unsplash.jpg", alt="unsplash image")

				.home__article__description
					.home__article__description__item
						.home__article__date__wrapper
								p.home__articldate__text 2019
						.home__article__media__number.clip__text
								.home__article__media__number__text 19

					.home__article__description__item
						h1.home__article__title
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Everything
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Around
						.home__article__description__right
							.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									All the long echoes sing the &shy;
									same delight, this shortest day.

		.home__articles__wrapper
			.home__article__section
				figure.home__article__media
					img(src="images/diana-nazarali-2eSZy2ZU_DI-unsplash.jpg", alt="unsplash image")

				.home__article__description
					.home__article__description__item
						h1.home__article__title
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Dream Clouds
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Ghost Ground
						.home__article__description__right
							.home__article__media__number.clip__text
								.home__article__media__number__text 18
							.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									Connect artists to&shy;
									nature spaces

					.home__article__description__item
						.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									If the world moves on,&shy;
									will the lights stay on

			.home__article__section
				figure.home__article__media
					img(src="images/xander-ashwell-bhTjAUHHvSg-unsplash.jpg", alt="unsplash image")

				.home__article__description
					.home__article__description__item
						.home__article__date__wrapper
								p.home__articldate__text 2019
						.home__article__media__number.clip__text
								.home__article__media__number__text 19

					.home__article__description__item
						h1.home__article__title
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Everything
							.home__article__title__wrapper.clip__text
								span.home__article__title__text Around
						.home__article__description__right
							.home__article__paragraph__wrapper
								p.home__article__paragraph__text.
									All the long echoes sing the &shy;
									same delight, this shortest day.
