@use '../../utils/responsive.scss' as *;

.home__article__media {
	display: flex;
	gap: 2rem;
	grid-column: 1 / 3;

	@include media('<phone') {
		flex-direction: column;
		height: 40vh;
	}
}

.home__article__image__wrapper {
	flex: 1 1 100%;
	overflow: hidden;
	perspective: 100px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	will-change: transform;
}
