@forward './gallery.scss';

@use '../../utils/responsive.scss' as *;

.home__articles {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: -webkit-fill-available;

	display: flex;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	&--active {
		visibility: visible;
		opacity: 1;
	}
}

.home__articles__article {
	padding-inline: 20px;
	padding-block: 50px 14px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	display: grid;
	grid-template-rows: 60% calc(40% - 2rem);
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;

	@include media('<phone') {
		grid-template-rows: 60% calc(20% - 2rem) calc(20% - 2rem);
		grid-template-columns: 1fr;
		gap: 0;
		row-gap: 2rem;
	}
}

.descriprion--left .home__description__footer {
	@include media('<phone') {
		margin-block: 3rem auto;
	}
}

.home__article__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&.description--right {
		@include media('<phone') {
			grid-row: 3;
		}
	}
}

.description--right {
	@include media('<phone') {
		.home__description__header {
			margin-block: auto 3rem;
		}
	}
}

.home__description__header {
	display: flex;
	justify-content: space-between;
}

.home__description__header__aside {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
}

.home__header__date {
	margin-inline: auto;
	@include media('<phone') {
		margin-top: auto;
		margin-inline: 0;
	}
}

.home__description__footer {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

h2 {
	margin-bottom: -5.5px;
}

h2:nth-child(2) > span:nth-child(2) {
	margin-left: 25%;
}
