@forward './gallery.scss';

.home__articles,
.home__articles__article {
	height: 100%;
	width: 100%;
}

.home__articles {
	display: flex;
	gap: 2rem;
}

.home__articles__article {
	display: grid;
	row-gap: 2rem;
	grid-template-rows: 70% calc(30% - 2rem);
}

.home__article__description__wrapper p {
	max-width: 28ch;
}

.home__article__title__wrapper h2 {
	max-width: 15ch;
}

.home__article__description__content {
	position: relative;
}

.home__article__description__content > * {
	position: absolute;
	overflow: hidden;
}

.left--article .home__article__title__wrapper {
	top: 0;
	left: 0;
}

.home__article__media__digit__wrapper {
	top: 0;
	right: 0;
}

.left--article .home__article__description__header__wrapper {
	top: 74px;
	right: 0;

	& p {
		max-width: 18ch;
	}
}

.left--article .home__article__description__wrapper {
	bottom: 0;
	left: 0;
}

.right--article .home__article__date__wrapper {
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

.right--article .home__article__title__wrapper {
	bottom: 0;
	left: 0;
}

.right--article .home__article__description__wrapper {
	bottom: 0;
	right: 0;
}
